            .hideme {
                display: none;
            }
            .icon-soft-warning {
                color: #FF8C00 !important;

            }
            /*
Loader 1
*/

            * {
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }

            html {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }

            body {
                font-family: "Open Sans", helvetica, sans-serif;
                font-size: 14px;
                color: #414854;
                letter-spacing: 0.01em;
                background-color: #F9FAFB;
            }

            .form-control {
                border-color: #c7c5c5;
            }

            .btn-outline-alhoor {
                color: #fc781a;
                border-color: #fc781a;
            }
            .btn-outline-alhoor:hover {
                color: #fff;
                background-color: #fc781a;
                border-color: #fc781a;
            }









            /* --- Loader entre les pages (transition) --- */

            #loader-wrapper {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #5d5f5fde;
                z-index: 1000;
                opacity: 1;
            }

            #loader {
                display: block;
                position: relative;
                left: 50%;
                top: 50%;
                width: 150px;
                height: 150px;
                margin: -75px 0 0 -75px;
                border-radius: 500px;
                border: 4px solid transparent;
                border-top-color: #19C785;
                -webkit-animation: spin 2s linear infinite;
                animation: spin 2s linear infinite;
                z-index: 1001;
            }

            #loader:before {
                content: "";
                position: absolute;
                top: 5px;
                left: 5px;
                right: 5px;
                bottom: 5px;
                border-radius: 500px;
                border: 4px solid transparent;
                border-top-color: #6CE94A;
                -webkit-animation: spin 3s linear infinite;
                animation: spin 3s linear infinite;
            }

            #loader:after {
                content: "";
                position: absolute;
                top: 15px;
                left: 15px;
                right: 15px;
                bottom: 15px;
                border-radius: 500px;
                border: 4px solid transparent;
                border-top-color: #E9C834;
                -webkit-animation: spin 1.5s linear infinite;
                animation: spin 1.5s linear infinite;
            }
            /* Loaded */

            .loaded #loader {
                opacity: 0;
                -webkit-transition: opacity 1s ease-out;
                transition: opacity 1s ease-out;
            }

            .loaded #loader-wrapper {
                opacity: 0;
                visibility: hidden;
                -webkit-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1.000);
                transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1.000);
            }
            /* --- Keyframes --- */

            @-webkit-keyframes spin {
                0% {
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }

            @keyframes spin {
                0% {
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }

            .no-js #loader-wrapper {
                display: none;
            }
            /* select2*/

            .select2-container--default .select2-results__option--highlighted[aria-selected] {
                background-color: #17c788;
                color: white;
            }

            .select2-container--default .select2-selection--single {
                background-color: #fff;
                border: 1px solid #aaa;
                border-radius: 4px;
                height: 39px;
            }
    .fa-11{
        font-size: 11px;
    }

    /* loader 2 */
            .custom-animated-loader{
                background-color:white!important;
                opacity:0.9!important;
                position:fixed!important;
                width:100% !important;
                height:100% !important;
                z-index: 99999999999!important;
                justify-content: center!important;
            }

            .custom-animated-loader-content
            {
                margin-top: 20% !important;
                width:120px!important;
                height: 120px!important;
            }

            /* loader 2 end*/


            /*  new front theme override */
            .input-group-text {
                border-color: #c7c5c5;
            }
            /*  new front theme override end*/
