@font-face {
    font-family: "HP-Regular";
    src: url(../fonts/hp-simplified.ttf);
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "HP-Regular" !important;
}

h1 {
    font-size: 40px !important;
}

h2 {
    font-size: 36px !important;
}

h3 {
    font-size: 30px !important;
}

h4 {
    font-size: 24px !important;
}

.section-light {
    background-color: #fafafa;
}

.main-navbar {
    background-color: #373C8D !important;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: white;
    opacity: 1;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    opacity: 0.7;
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white !important;
    opacity: 0.9;
}

.hero-section {
    background-image: url(../uploads/hero_section.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0px;
    margin-bottom: 0px;
}

.advanced-tabs {
    border: 0px !important;
}

.advanced-tabs>li {
    margin-right: 20px;
}

.advanced-tabs>li>a {
    background-color: #ED6A0F !important;
    color: white;
    opacity: 0.8;
    position: relative;
    padding: 10px 40px;
}

.advanced-tabs>li>a.active {
    background-color: #ED6A0F !important;
    opacity: 1;
}

.advanced-tabs>li>a.active::after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ED6A0F;
    content: " ";
    position: absolute;
    bottom: -10px;
    left: 45%;
}

.custom-select,
.form-control {
    height: 50px;
    border-radius: 0px;
    border: 0px !important;
}

.btn-Formsubmit {
    height: 50px;
    background-color: #ED6A0F;
    border: 0px;
    border-radius: 0px;
}

.btn-Formsubmit:hover {
    background-color: #ED6A0F;
    opacity: 0.8;
}

.specialGallery-img {
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(57, 73, 76, .35);
    height: 300px;
}

.para-overlay {
    padding: 10px;
    background-color: #000000b5;
    color: white;
    position: relative;
    bottom: 45px;
    width: 50%;
    text-align: center;
    margin-bottom: 0px;
    border-radius: 0px 0px 0px 10px;
    display: block;
}

.para-overlay:hover,
.para-overlay1:hover {
    color: #ED6A0F;
    text-decoration: none;
}

.para-overlay1 {
    padding: 10px;
    background-color: #000000b5;
    color: white;
    position: relative;
    bottom: 45px;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    border-radius: 0px 0px 10px 10px;
    display: block;
}

.special-row {
    top: -20px;
    position: relative;
}

.box-shadow {
    box-shadow: 0 1px 6px rgba(57, 73, 76, .35);
    background-color: #fafafa;
    border-radius: 20px;
}

.btn-Orange {
    background-color: #ED6A0F;
    border: 0px;
}

.btn-Orange:hover {
    background-color: #ED6A0F;
    opacity: 0.8;
}

.btn-Blue {
    background-color: #373C8D;
    border: 0px;
}

.btn-Blue:hover {
    background-color: #373C8D;
    opacity: 0.8;
}

.footer-ul {
    padding-left: 0px;
    margin-top: 20px;
}

.footer-ul>li {
    list-style: none;
    padding-bottom: 10px;
}

.footer-ul>li>a {
    color: black;
    opacity: 0.7;
}

.footer-ul>li>a:hover {
    opacity: 1;
    color: #ED6A0F;
    text-decoration: none;
}

@media screen and (min-width: 250px) and (max-width: 768px) {
    .specialGallery-img {
        height: auto;
    }
    .para-overlay {
        width: 100%;
    }
    .box-shadow {
        margin-bottom: 20px;
    }
    .advanced-tabs>li>a {
        padding: 10px 20px;
        margin-bottom: 10px;
    }
    h1 {
        font-size: 24px !important;
    }
    h2 {
        font-size: 18px !important;
    }
}