@font-face {
    font-family: "HP-Regular";
    src: url(../fonts/hp-simplified.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: "HP-Regular", serif !important;
}

h1 {
    font-size: 40px !important;
}

h2 {
    font-size: 36px !important;
}

h3 {
    font-size: 30px !important;
}

h4 {
    font-size: 24px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-12 {
    font-size: 12px !important;
}

.section-light {
    background-color: #fafafa;
}

.main-navbar {
    background-color: #373C8D !important;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: white;
    opacity: 1;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    opacity: 0.7;
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white !important;
    opacity: 0.9;
}

.hero-section {
    background-image: url(../images/hero_section.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0px;
    margin-bottom: 0px;
}

.agentSection {
    background-image: url(../images/hero_section.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0px;
    margin-bottom: 0px;
}

.inner-page-jumbotron {
    background-image: url(../images/hero_section.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0px;
    margin-bottom: 0px;
}

.advanced-tabs {
    border: 0px !important;
}

.advanced-tabs>li {
    margin-right: 20px;
}

.advanced-tabs>li>a {
    background-color: #ED6A0F !important;
    color: white;
    opacity: 0.8;
    position: relative;
    padding: 10px 40px;
}

.advanced-tabs>li>a.active {
    background-color: #ED6A0F !important;
    opacity: 1;
}

.advanced-tabs>li>a.active::after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ED6A0F;
    content: " ";
    position: absolute;
    bottom: -10px;
    left: 45%;
}

.custom-select,
.form-control {
    height: 50px;
    border-radius: 0px;
    border: 0px !important;
}

.btn-form-submit {
    height: 50px;
    background-color: #ED6A0F;
    border: 0px;
    border-radius: 0px;
}

.btn-form-submit:hover {
    background-color: #ED6A0F;
    opacity: 0.8;
}

.btn-agent {
    height: 50px;
    background-color: #373C8D;
    border: 0px;
    border-radius: 0px;
}

.btn-agent:hover {
    background-color: #373C8D;
    opacity: 0.8;
}

.specialGallery-img {
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(57, 73, 76, .35);
    height: 300px;
}

.para-overlay {
    padding: 10px;
    background-color: #000000b5;
    color: white;
    position: relative;
    bottom: 45px;
    width: 50%;
    text-align: center;
    margin-bottom: 0px;
    border-radius: 0px 0px 0px 10px;
    display: block;
}

.para-overlay:hover,
.para-overlay1:hover {
    color: #ED6A0F;
    text-decoration: none;
}

.para-overlay1 {
    padding: 10px;
    background-color: #000000b5;
    color: white;
    position: relative;
    bottom: 45px;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    border-radius: 0px 0px 10px 10px;
    display: block;
}

.special-row {
    top: -20px;
    position: relative;
}

.box-shadow {
    box-shadow: 0 1px 6px rgba(57, 73, 76, .35);
    background-color: #fafafa;
    border-radius: 20px;
}

.btn-Orange {
    background-color: #ED6A0F;
    border: 0px;
}

.btn-Orange:hover {
    background-color: #ED6A0F;
    opacity: 0.8;
}

.btn-Blue {
    background-color: #373C8D;
    border: 0px;
}

.btn-Blue:hover {
    background-color: #373C8D;
    opacity: 0.8;
}

.footer-ul {
    padding-left: 0px;
    margin-top: 20px;
}

.footer-ul>li {
    list-style: none;
    padding-bottom: 10px;
}

.footer-ul>li>a {
    color: black;
    opacity: 0.7;
}

.footer-ul>li>a:hover {
    opacity: 1;
    color: #ED6A0F;
    text-decoration: none;
}

.borderColumn {
    background-color: #fff;
    border: 1px solid #dadada;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.propertyListing-ul {
    padding-left: 0px;
}

.propertyListing-ul>li {
    list-style: none;
    display: inline;
    padding-right: 10px;
    color: #403b45;
}

.special-li {
    color: #ed6a0f !important;
}

.propertyList-img {
    position: relative;
    height: 100%;
    width: 100%;
}

.img-24 {
    width: 24px;
    margin-left: 5px;
}

#shortBy {
    border: 1px solid #dadada !important;
}

#shortBy:focus {
    box-shadow: none !important;
    border: 1px solid #dadada !important;
}

.btn-h50 {
    height: 50px;
    padding-top: 13px;
}

.colorOrange {
    color: #ed6a0f !important;
}

.mob-hide {
    display: inline-flex;
}

.gold-font {
    color: goldenrod;
    margin-top: 20px !important;
    display: block;
}

.list-group-flush>li>a {
    color: #403b45;
}

.list-group-flush>li>a:hover {
    text-decoration: none;
    color: #ED6A0F;
}

.propertyDetailList-ul {
    padding-left: 0px;
}

.propertyDetailList-ul>li {
    list-style: none;
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px;
}

.font-24 {
    font-size: 24px !important;
}

.font-20 {
    font-size: 20px !important;
}

.font-18 {
    font-size: 18px !important;
}

.font-16 {
    font-size: 16px !important;
}

.bgOrange {
    background-color: #ED6A0F;
}

.bgGray {
    background-color: #f2f2f2;
}

.agentCard-ul {
    padding-left: 10px;
}

.agentCard-ul>li {
    list-style: none;
}

.agentView-ul {
    padding-left: 0px;
}

.agentView-ul>li {
    list-style: none;
    padding-bottom: 10px;
}

.btn-group {
    border-radius: 0px !important;
}

.btnOrange {
    background-color: #ED6A0F;
    border: 0px;
    border-radius: 0px;
}

.btnOrange:hover {
    background-color: #ED6A0F;
    border: 0px;
    opacity: 0.8;
}

.btnBlue {
    background-color: #373C8D;
    border: 0px;
    border-radius: 0px;
}

.btnBlue:hover {
    background-color: #373C8D;
    border: 0px;
    opacity: 0.8;
}

.btnBordered-Blue {
    border-color: #373C8D;
    color: #373C8D;
}

.btnBordered-Blue:hover {
    background-color: #373C8D;
    border-color: #373C8D;
}

.cardBox-Shadow:hover {
    box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.15);
    background-color: white;
    border: 0px;
}

.cardAnchor {
    color: #282828;
}

.cardAnchor:hover {
    color: #282828;
    text-decoration: none;
}


/*contact form*/


/*body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}*/

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.email-icon {
    height: 350px;
    width: 550px;
    color: gray;
    opacity: 0.2;
}


/*End contact form*/

.agentUlTabs {
    border: 0px !important;
}

.agentUlTabs .nav-link {
    background-color: white;
    color: #373C8D;
}

.agentUlTabs .nav-link.active {
    background-color: #373C8D;
    color: white;
}

.agentUlTabs .nav-link:hover {
    background-color: #ED6A0F;
    color: white;
}

@media screen and (min-width: 250px) and (max-width: 768px) {
    .mob-mt20 {
        margin-top: 20px;
    }
    .mob-hide {
        display: none;
    }
    .borderColumn {
        padding: 10px;
    }
    .specialGallery-img {
        height: auto;
    }
    .para-overlay {
        width: 100%;
    }
    .box-shadow {
        margin-bottom: 20px;
    }
    .advanced-tabs>li>a {
        padding: 10px 20px;
        margin-bottom: 10px;
    }
    h1 {
        font-size: 24px !important;
    }
    h2 {
        font-size: 18px !important;
    }
}
