# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea/estate.iml
.idea/php.xml
.idea/estate.iml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml